@foreach (var item in Model)
{
	<div class="col-lg-6">
		<div class="review_content">
			<div class="clearfix add_bottom_10">
				<span class="rating">
					@for (int i = 1; i <= @item.Stars; i++)
					{
						<i class="icon-star voted"></i>
					}
					@for (int i = 1; i <= 5 - @item.Stars; i++)
					{
						<i class="bi bi-star"></i>
					}
					<em>@item.Stars/5.0</em>
				</span>
				<em>Đăng lúc @item.PRDateCreated.ToShortDateString()</em>
			</div>
			<h4>@item.RatingContent</h4>
			<p></p>
		</div>
	</div>
}