@model IEnumerable<BinhDinhFood.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Quản lý loại sản phẩm</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdmHome">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index">Quản lý loại sản phẩm</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<p>
    <a class="btn btn-primary rounded-pill" asp-action="Create"> <i class="bi bi-file-earmark-plus"></i> Tạo loại sản phẩm mới </a>
</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Quản lý thông tin bài viết</h5>
        <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDateCreated)
            </td>
            <td>
                <a class="btn btn-warning rounded-pill" asp-action="Edit" asp-route-id="@item.CategoryId"><i class="bi bi-pencil"></i></a>
                <a class="btn btn-info rounded-pill" asp-action="Details" asp-route-id="@item.CategoryId"><i class="bi bi-eye"></i></a>
                <a class="btn btn-danger rounded-pill" asp-action="Delete" asp-route-id="@item.CategoryId"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
