@model IEnumerable<Item>
@using System.Globalization
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<a class="cart_bt" asp-action="Index" asp-controller="Cart"><strong>@ViewData["Count"]</strong></a>
<div class="dropdown-menu">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="">
                    <figure>
                        <img src="~/Content/img/products/@item.Product.ProductImage" alt=""
                                width="50" height="50" class="lazy">
                    </figure>


                    <strong><span>@item.Product.ProductName</span>@Convert.ToDouble(@item.Product.ProductPrice -(@Convert.ToDouble(@item.Product.ProductPrice) * @Convert.ToDouble(@item.Product.ProductDiscount) / 100)).ToString("#,###", cul.NumberFormat) Đ x @item.Quantity</strong>
                </a>
                <a asp-action="RemoveInMiniCart" asp-controller="Cart" asp-route-id="@item.Product.ProductId" data-ajax="true" data-ajax-update="#mini-cart" class="action"><i class="ti-trash"></i></a>
            </li>
        }
    </ul>
    <div class="total_drop">
        <div class="clearfix">
            <strong>Tổng tiền</strong><span>
                @ViewData["TotalMoney"] Đ
            </span>
        </div>
        <a asp-action="Index" asp-controller="Cart" class="btn_1 outline">Xem giỏ hàng</a>
        <a asp-action="Order" asp-controller="Cart" class="btn_1">Thanh toán</a>
    </div>
</div>