@using System.Globalization
@using BinhDinhFood.Models
@{
	CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
	var product = new List<Product>();
}
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
<div class="container margin_30">
	<div class="countdown_inner">
		-20% Đợt giảm giá kết thúc sau <div data-countdown="@DateTime.Now.AddHours(1).ToString("yyyy-MM-dd h:mm tt")" class="countdown"></div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="all">
				<div class="slider" id="exzoom">
					<div class="owl-carousel owl-theme main">
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item-box"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item-box" style="filter: contrast(200%);"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item-box" style="filter: drop-shadow(8px 8px 10px gray);"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item-box" style="filter: grayscale(50%);"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item-box" style="filter: hue-rotate(90deg);"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item-box" style="filter: brightness(200%);"></div>
					</div>
					<div class="left nonl"><i class="ti-angle-left"></i></div>
					<div class="right"><i class="ti-angle-right"></i></div>
				</div>

				<div class="slider-two">
					<div class="owl-carousel owl-theme thumbs">
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item active"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item" style="filter: contrast(200%);"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item" style="filter: drop-shadow(8px 8px 10px gray);"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item" style="filter: grayscale(50%);"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item" style="filter: hue-rotate(90deg);"></div>
						<div><img src="~/Content/img/products/@Model.ProductImage" class="item" style="filter: brightness(200%);"></div>
					</div>
					<div class="left-t nonl-t"></div>
					<div class="right-t"></div>
				</div>
			</div>
		</div>


		<div class="col-md-6">
			<div class="breadcrumbs">
				<ul>
					<li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
					<li><a asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
					<li><a>@Model.ProductName</a></li>
				</ul>
			</div>
			<!-- /page_header -->
			<form asp-action="AddInCart"
						   asp-controller="Cart"
						   asp-route-id="@Model.ProductId" 
						   data-ajax="true" 
						   data-ajax-success="addCartAlert" 
						   data-ajax-failure="addCartFailAlert" 
						   data-ajax-update="#mini-cart"
						   class="prod_info">
				<h1>@Model.ProductName</h1>
				<span class="rating">
					<i class="icon-star voted"></i>
					<i class="icon-star voted"></i>
					<i class="icon-star voted"></i>
					<i class="icon-star voted"></i>
					<i class="icon-star"></i><em>@ViewBag.Review reviews</em>
				</span>
				<p><small>Mã: @Model.ProductId</small><br></p>
				<div class="prod_options">
					<div class="row">
						<label class="col-xl-5 col-lg-5  col-md-6 col-6"><strong>Số lượng</strong></label>
						<div class="col-xl-4 col-lg-5 col-md-6 col-6">
							<div class="numbers-row">
								<input type="text" value="1" name="quantity" class="qty2" name="quantity_1">
								<a class="dec button_inc">-</a>
								<a class="inc button_inc">+</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-md-6">
						<div class="price_main">
							<span class="new_price">@Convert.ToDouble(@Model.ProductPrice -(@Convert.ToDouble(@Model.ProductPrice) * @Convert.ToDouble(@Model.ProductDiscount) / 100)).ToString("#,###", cul.NumberFormat) Đ</span>
							<span class="percentage">- @Convert.ToDouble(@Model.ProductDiscount)%</span>
							<span class="old_price">@Model.ProductPrice.ToString("#,###", cul.NumberFormat) Đ</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						@if (User.Identity.IsAuthenticated)
						{
							<button type="submit" class="btn_1">
								<i class="ti-shopping-cart"></i> Thêm vào giỏ hàng
							</button>
						}
						else
						{
							<a class="btn_1" data-ajax="true" data-ajax-success="loginFirstAlert" data-ajax-failure="addCartFailAlert">
								<i class="ti-shopping-cart"></i>
								Thêm vào giỏ hàng
							</a>
						}
					</div>
				</div>
				<!-- /prod_info -->
				<div class="product_actions">
					<ul>
						<li>
							@if (User.Identity.IsAuthenticated){
								<a asp-action="AddInFavorite" asp-controller="Cart" asp-route-id="@Model.ProductId" data-ajax="true" data-ajax-success="addFavAlert" data-ajax-failure="addCartFailAlert" ><i class="ti-heart"></i><span>Thêm vào danh sách yêu thích</span></a>
							}else{

								<a ><i class="ti-heart"></i><span>Thêm vào danh sách yêu thích</span></a>
							}
						</li>
					</ul>
				</div>
				<!-- /product_actions -->
			</form>
		</div>
		<!-- /row -->
	</div>
</div>
<!-- /container -->

<div class="tabs_product">
	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Mô tả sản phẩm</a>
			</li>
			<li class="nav-item">
				<a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Đánh giá</a>
			</li>
		</ul>
	</div>
</div>
<!-- /tabs_product -->
<div class="tab_content_wrapper">
	<div class="container">
		<div class="tab-content" role="tablist">
			<div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
				<div class="card-header" role="tab" id="heading-A">
					<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="false" aria-controls="collapse-A">
							Mô tả sản phẩm
						</a>
					</h5>
				</div>
				<div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
					<div class="card-body">
						<div class="row justify-content-between">
							<div class="col-lg-3">
								<h3>Hình ảnh sản phẩm</h3>

								<div id="img-container">
									<img src="~/Content/img/products/@Model.ProductImage" style="width: 400px; height: 300px">
								</div>
								<script>
									var options = {
										width: 200,
										zoomWidth: 300,
										offset: { vertical: 0, horizontal: 100 }
									};
									new ImageZoom(document.getElementById("img-container"), options);

								</script>
							</div>
							<div class="col-lg-6">
								<h3>Chi tiết</h3>
								<p>@Model.ProductDescription</p>
							</div>

							<div class="col-lg-3">
								<h3>Thông tin chi tiết</h3>
								<div class="table-responsive">
									<table class="table table-sm table-striped">
										<tbody>
											<tr>
												<td><strong>Tên sản phẩm</strong></td>
												<td>@Model.ProductName</td>
											</tr>
											<tr>
												<td><strong>Số lượng trong kho</strong></td>
												<td>@Model.ProductAmount</td>
											</tr>
											<tr>
												<td><strong>Giảm giá</strong></td>
												<td>@Model.ProductDiscount % </td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /table-responsive -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /TAB A -->
			<div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
				<div class="card-header" role="tab" id="heading-B">
					<h5 class="mb-0">
						<a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
							Đánh giá
						</a>
					</h5>
				</div>
				<div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
					<div class="card-body">
						<div class="row justify-content-between">
							@await Component.InvokeAsync("ProductRatingComponent", new { id = @Model.ProductId })
						</div>
						<!-- /row -->
					</div>
					<p class="text-right"><a asp-action="LeaveReview" asp-controller="Product" asp-route-id="@Model.ProductId" class="btn_1">Bình luận</a></p>
					<!-- /card-body -->
				</div>
			</div>
			<!-- /tab B -->
		</div>
		<!-- /tab-content -->
	</div>
	<!-- /container -->
</div>
<!-- /tab_content_wrapper -->
@await Component.InvokeAsync("RelatedProductComponent")

<!-- /container -->

<div class="feat">
	<div class="container">
		<ul>
			<li>
				<div class="box">
					<i class="ti-gift"></i>
					<div class="justify-content-center">
						<h3>Miễn phí vận chuyển</h3>
						<p>For all oders over $99</p>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<i class="ti-wallet"></i>
					<div class="justify-content-center">
						<h3>Thanh toán bảo mật</h3>
						<p>100% secure payment</p>
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<i class="ti-headphone-alt"></i>
					<div class="justify-content-center">
						<h3>24/7 Hổ trợ</h3>
						<p>Online top support</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
