@using BinhDinhFoodWeb.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Item>
@{
}
<div class="container margin_30">
	<div class="page_header">
		<div class="breadcrumbs">
			<ul>
				<li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
				<li>Giỏ hàng</li>
			</ul>
		</div>
		<h1>Giỏ hàng</h1>
	</div>
	<!-- /page_header -->
	<table class="table table-striped cart-list">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Product.ProductName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TotalCost)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Quantity)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Product.ProductPrice)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr id="item-@item.Product.ProductId">
					@await Component.InvokeAsync("ItemComponent", new { item = item })
				</tr>
			}
		</tbody>
	</table>

	<div class="row add_top_30 flex-sm-row-reverse cart_actions">
		<div class="col-sm-4 text-right">
			<a asp-action="UpdateCart" data-ajax="true" data-ajax-update="#render-body" type="button" class="btn btn_1 gray">
				Cập nhật giỏ hàng</a>
			<a asp-action="RemoveAll" data-ajax="true" data-ajax-update="#render-body" class="btn_1">Xoá giỏ hàng</a>

		</div>
		<div class="col-sm-8">
			<div class="apply-coupon">
				<div class="form-group form-inline">
					<input type="text" name="coupon-code" value="" placeholder="Voucher" class="form-control">
					<button type="button" class="btn_1 outline">Áp dụng</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /cart_actions -->

</div>
<!-- /container -->

<div class="box_cart">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-xl-4 col-lg-4 col-md-6">
				<ul>
					<li>
						<span>Tổng phụ</span> @ViewData["TotalSubMoney"] Đ
					</li>
					<li>
						<span>Phí vận chuyển</span> @ViewData["ShippingCost"] Đ
					</li>
					<li>
						<span>Tổng tiền</span> @ViewData["TotalMoney"] Đ
					</li>
				</ul>
				<a asp-action="Order" class="btn_1 full-width cart">Thanh toán</a>
			</div>
		</div>
	</div>
</div>
<!-- /box_cart -->



