@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Item
@{
}

<tr>
	<td>
		<div class="thumb_cart">
			<img src="~/Content/img/products/@Html.DisplayFor(modelItem => Model.Product.ProductImage)" class="lazy" alt="Image">
		</div>
		<span class="item_cart">@Html.DisplayFor(modelItem => Model.Product.ProductName)</span>
	</td>
	<td>
		<strong>@Html.DisplayFor(modelItem => Model.TotalCost) Đ</strong>
	</td>
	<td>
		<div class="numbers-row">
			<input type="text" value="@Html.DisplayFor(modelItem => Model.Quantity)" id="quantity_1" class="qty2" name="quantity_1">
			<div class="inc button_inc">+</div><div class="dec button_inc">-</div>
		</div>
	</td>
	<td>
		<strong>@Html.DisplayFor(modelItem => Model.Product.ProductPrice) Đ</strong>
	</td>
	<td class="options">
		<a asp-action="RemoveInCart" asp-route-id="@Model.Product.ProductId"><i class="ti-trash"></i></a>
	</td>
</tr>
