@model IEnumerable<BinhDinhFoodWeb.Models.Cart>

@{

	ViewData["Title"] = "Giỏ hàng";
}
<div class="container margin_30">
	<div class="page_header">
		<div class="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Category</a></li>
				<li>Page active</li>
			</ul>
		</div>
		<h1>Giỏ hàng</h1>
	</div>
	<!-- /page_header -->
	<table class="table table-striped cart-list">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.sProductName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.dTotalMoney)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.iQuantity)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.dUnitPrice)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<div class="thumb_cart">
							<img src="~/Content/img/products/@Html.DisplayFor(modelItem => item.sProductImage)" class="lazy" alt="Image">
						</div>
						<span class="item_cart">@Html.DisplayFor(modelItem => item.sProductName)</span>
					</td>
					<td>
						<strong>@Html.DisplayFor(modelItem => item.dTotalMoney) Đ</strong>
					</td>
					<td>
						<div class="numbers-row">
							<input type="text" value="@Html.DisplayFor(modelItem => item.iQuantity)" id="quantity_1" class="qty2" name="quantity_1">
							<div class="inc button_inc">+</div><div class="dec button_inc">-</div>
						</div>
					</td>
					<td>
						<strong>@Html.DisplayFor(modelItem => item.dUnitPrice) Đ</strong>
					</td>
					<td class="options">
						<a href="#"><i class="ti-trash"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="row add_top_30 flex-sm-row-reverse cart_actions">
		<div class="col-sm-4 text-right">
			<button type="button" class="btn_1 gray">Cập nhật giỏ hàng</button>
		</div>
		<div class="col-sm-8">
			<div class="apply-coupon">
				<div class="form-group form-inline">
					<input type="text" name="coupon-code" value="" placeholder="Voucher" class="form-control">
					<button type="button" class="btn_1 outline">Áp dụng</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /cart_actions -->

</div>
<!-- /container -->

<div class="box_cart">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-xl-4 col-lg-4 col-md-6">
				<ul>
					<li>
						<span>Tổng phụ</span> @ViewData["TotalSubMoney"] Đ
					</li>
					<li>
						<span>Phí vận chuyển</span> 30.000 Đ
					</li>
					<li>
						<span>Tổng tiền</span> @ViewData["TotalMoney"] Đ
					</li>
				</ul>
				<a href="@Url.Action("Comfirm", "Cart")" class="btn_1 full-width cart">Thanh toán</a>
			</div>
		</div>
	</div>
</div>
<!-- /box_cart -->
