@using System.Globalization
@{
	CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container margin_30">
	<div class="page_header">
		<div class="breadcrumbs">
			<ul>
				<li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
				<li>Thanh toán</li>
			</ul>
		</div>
		<h1>Trang thanh toán</h1>

	</div>
	<!-- /page_header -->
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div class="step last">
				<h3>Thông tin đơn đặt hàng</h3>
				<div class="box_general summary">
					<ul>
						@foreach (var item in Model)
						{
							<li class="clearfix"><em>@item.Product.ProductName</em>  <span>@Convert.ToDouble(@item.Product.ProductPrice -(@Convert.ToDouble(@item.Product.ProductPrice) * @Convert.ToDouble(@item.Product.ProductDiscount) / 100)).ToString("#,###", cul.NumberFormat) Đ</span></li>
						}
					</ul>
				</div>
				<!-- /box_general -->
			</div>
			<!-- /step -->
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="step last">
				<h3>Thông tin khách hàng</h3>
				<div class="box_general summary">
					<form asp-action="Order" method="post">
						<ul>
							<li class="clearfix"><em><strong>Họ tên</strong></em>  <span>@ViewBag.Name</span></li>
							<li class="clearfix"><em><strong>Số điện thoại</strong></em>  <span>@ViewBag.Phone</span></li>
							<li class="clearfix"><em><strong>Email</strong><span>@ViewBag.Email</span></em>  </li>
							<li class="clearfix"><em><strong>Địa chỉ</strong></em>  <span>@ViewBag.Address</span></li>
						</ul>
						<ul>
							<li class="clearfix"><em><strong>Tổng tiền hàng</strong></em>  <span>@ViewData["TotalSubMoney"]</span></li>
							<li class="clearfix"><em><strong>Phí vận chuyển</strong></em> <span>@ViewData["ShippingCost"]</span></li>

						</ul>
						<ul>
                            <li>
                                <label>Chọn phương thức thanh toán</label>
                                <select name="ChoosePaymentMethod" id="cars">
                                    <option value="0">Trả bằng tiền mặt khi nhận hàng</option>
                                    <option value="2">VnPay</option>
                                </select>
                            </li>
						</ul>
						<ul><span>@ViewBag.ErrorMessage</span></ul>
						<div class="total clearfix">TỔNG TIỀN <span>@ViewData["TotalMoney"] Đ</span></div>
						<button type="submit" class="btn_1 full-width">Đồng ý và Thanh toán</button>
					</form>
				</div>
				<!-- /box_general -->
			</div>
			<!-- /step -->
		</div>
	</div>
	<!-- /row -->
</div>
<!-- /container -->
