@model IEnumerable<BinhDinhFood.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerFullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
