@model IEnumerable<BinhDinhFood.Models.Product>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Quản lý sản phẩm</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdmHome">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index">Quản lý sản phẩm</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<p>
    <a class="btn btn-primary rounded-pill" asp-action="Create"> <i class="bi bi-file-earmark-plus"></i> Tạo sản phẩm mới </a>
</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Quản lý sản phẩm</h5>

        <!-- Table with hoverable rows -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @if(item.ProductDescription.Length<=100){
                                @Html.Raw(@item.ProductDescription)

                            }else{

                                @Html.Raw(@item.ProductDescription).ToString().Substring(0,100);
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDiscount)
                        </td>
                        <td>
                            <img width="100" src="~/Content/img/products/@Html.DisplayFor(modelItem => item.ProductImage)" alt="@Html.DisplayFor(modelItem => item.ProductImage)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            <a class="btn btn-warning rounded-pill" asp-action="Edit" asp-route-id="@item.ProductId"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-info rounded-pill" asp-action="Details" asp-route-id="@item.ProductId"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-danger rounded-pill" asp-action="Delete" asp-route-id="@item.ProductId"><i class="bi bi-trash"></i></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <!-- End Table with hoverable rows -->
        <div class="pagination__wrapper">
            <ul class="pagination">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new{ page }))
            </ul>
        </div>
    </div>
</div>

<style>
    
/*-------- 3.6 Pagination --------*/
.clear:after, .pagination:after, .clear:before, .pagination:before {
    content: "";
    display: table;
}

.clear:after, .pagination:after {
    clear: both;
}

.pagination__wrapper {
    height: 50px;
    padding-top: 20px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ededed;
}

    .pagination__wrapper.no_border {
        border-top: none;
    }

    .pagination__wrapper:before {
        top: -1px;
    }

    .pagination__wrapper:after {
        bottom: -1px;
    }


.pagination {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .pagination li {
        display: block;
        float: left;
        padding: 5px;
    }

        .pagination li:first-child {
            border: none;
        }

    .pagination a,
    .pagination span {
        background: none;
        border: none;
        border-radius: 50%;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.6);
        display: block;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        min-width: 40px;
        padding: 0;
    }

    .pagination a {
        outline: none;
        position: relative;
        transition: all 170ms linear;
    }

        .pagination a:before {
            background: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            content: "";
            cursor: pointer;
            height: 0;
            left: 50%;
            opacity: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            transition: all 170ms linear;
            top: 50%;
            width: 0;
        }

        .pagination a:hover:not(.active) {
            color: black;
        }

            .pagination a:hover:not(.active):before {
                animation: hoverAnimation 510ms linear forwards;
                height: 40px;
                width: 40px;
            }

        .pagination a.active {
            background: rgba(0, 0, 0, 0.1);
            color: black;
            cursor: default;
        }

    .pagination .prev,
    .pagination .next {
        font-size: 14px;
    }

</style>