@model IEnumerable<BinhDinhFood.Models.Product>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Quản lý sản phẩm</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdmHome">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index">Quản lý sản phẩm</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<p>
    <a class="btn btn-primary rounded-pill" asp-action="Create"> <i class="bi bi-file-earmark-plus"></i> Tạo sản phẩm mới </a>
</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Quản lý sản phẩm</h5>

        <!-- Table with hoverable rows -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.Raw(@item.ProductDescription).ToString().Substring(0,100)...
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDiscount)
                        </td>
                        <td>
                            <img width="100" src="~/Content/img/products/@Html.DisplayFor(modelItem => item.ProductImage)" alt="@Html.DisplayFor(modelItem => item.ProductImage)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            <a class="btn btn-warning rounded-pill" asp-action="Edit" asp-route-id="@item.ProductId"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-info rounded-pill" asp-action="Details" asp-route-id="@item.ProductId"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-danger rounded-pill" asp-action="Delete" asp-route-id="@item.ProductId"><i class="bi bi-trash"></i></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <!-- End Table with hoverable rows -->
        <div class="pagination__wrapper">
            <ul class="pagination">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new{ page}))
            </ul>
        </div>
    </div>
</div>
