@using System.Globalization

@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<div class="col-lg-7">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Đơn hàng của bạn</h5>
            <!-- Table with hoverable rows -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Stt</th>
                        <th scope="col">Ngày đặt hàng</th>
                        <th scope="col">Ngày vận chuyển</th>
                        <th scope="col">Đã trả tiền</th>
                        <th scope="col">Đã giao</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.OrderId</th>
                            <td>@item.DayOrder.ToShortDateString()</td>
                            <td>@item.DayDelivery.ToShortDateString()</td>
                            <td>
                                <input type="checkbox" checked="@item.PaidState" />
                            </td>
                            <td>
                                <input type="checkbox" checked="@item.DeliveryState" />
                            </td>
                            <td>@item.TotalMoney.ToString("#,###", cul.NumberFormat) Đ</td>
                            <td>
                                <a class="btn btn-info rounded-pill" asp-action="OderDetail" asp-controller="Cart" asp-route-id="@item.OrderId">Xem thêm</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <!-- End Table with hoverable rows -->

        </div>
    </div>
    <!-- Table with stripped rows -->

</div>