@model IEnumerable<BinhDinhFoodWeb.Models.Banner>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Quản lý banner</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdmHome">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index">Quản lý banner</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<p>
    <a class="btn btn-primary rounded-pill" asp-action="Create"> <i class="bi bi-file-earmark-plus"></i> Tạo Banner mới </a>
</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Quản lý thông tin banner</h5>

        <!-- Table with hoverable rows -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BannerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BannerPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BannerDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BannerImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BannerDateCreated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BannerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDiscount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BannerPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BannerDescription)
                        </td>
                        <td>
                            <img width="100" src="~/Content/img/slides/@Html.DisplayFor(modelItem => item.BannerImage)" alt="@Html.DisplayFor(modelItem => item.BannerImage)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BannerDateCreated)
                        </td>
                        <td>
                            <a class="btn btn-warning rounded-pill" asp-action="Edit" asp-route-id="@item.BannerId"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-info rounded-pill" asp-action="Details" asp-route-id="@item.BannerId"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-danger rounded-pill" asp-action="Delete" asp-route-id="@item.BannerId"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
