@model IEnumerable<BinhDinhFood.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="pagetitle">
    <h1>Quản lý hóa đơn</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdmHome">Trang chủ</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Quản lý hóa đơn</a></li>
            <li class="breadcrumb-item active">Hoá đơn</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Quản lý thông tin hóa đơn</h5>
        <!-- Table with hoverable rows -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.ProductImage)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                         <td>
                            <img width="100" src="~/Content/img/products/@Html.DisplayFor(modelItem => item.Product.ProductImage)" alt="@Html.DisplayFor(modelItem => item.Product.ProductImage)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
