@model BinhDinhFood.Models.Customer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Xoá bài viết</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdmHome">Trang chủ</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Quản lý bài viết</a> </li>
            <li class="breadcrumb-item active">Xoá khách hàng</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<h3>Bạn có thật sự muốn xoá?</h3>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Chi tiết khách hàng</h5>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerFullName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerFullName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerUserName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerUserName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerDateCreated)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerDateCreated)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerEmail)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerAddress)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerState)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomerState)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerImage)
            </dt>
            <dd class = "col-sm-10">
                <img width="100" src="~/Content/img/staff/@Html.DisplayFor(model => model.CustomerImage)" alt="@Html.DisplayFor(model => model.CustomerImage)" />
            </dd>
        </dl>
    </div>
</div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Xoá" class="btn btn-danger rounded-pill" />
        <a class="btn btn-dark rounded-pill" asp-action="Index"><i class="bi bi-caret-left"></i>Trở về</a>
    </form>
