@model BinhDinhFoodWeb.Models.InforViewModel

<!-- Profile Edit Form -->
<form asp-action="ChangeInfor" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">@Html.DisplayNameFor(model => model.Image)</label>
        <div class="col-md-8 col-lg-9">
            <img src="~/Content/img/staff/@Html.DisplayFor(model => model.Image)" alt="Profile">
            <div class="pt-2">

                <input asp-for="Image" type="file" id="upload-btn" hidden />
                <label for="upload-btn">
                    <a class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                </label>
                    <a asp-action="ClearImage" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">@Html.DisplayNameFor(model => model.FullName)</label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="FullName" type="text" class="form-control" id="fullName" value="@Model.FullName">
        </div>
    </div>


    <div class="row mb-3">
        <label for="Address" class="col-md-4 col-lg-3 col-form-label">@Html.DisplayNameFor(model => model.Address)</label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="Address" type="text" class="form-control" id="Address" value="@Model.Address">
        </div>
    </div>

    <div class="row mb-3">
        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">@Html.DisplayNameFor(model => model.Phone)</label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="Phone" type="text" class="form-control" id="Phone" value="@Model.Phone">
        </div>
    </div>

    <div class="row mb-3">
        <label for="Email" class="col-md-4 col-lg-3 col-form-label">@Html.DisplayNameFor(model => model.Email)</label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="Email" type="email" class="form-control" id="Email" value="@Model.Email">
        </div>
    </div>

    <div class="text-center"><input type="submit" value="Cập nhật" class="btn btn-primary"></div>

</form><!-- End Profile Edit Form -->
