@using System.Globalization
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

<div class="container margin_60_35">
    <div class="main_title">
        <h2>Mới nhất</h2>
        <span>Sản phẩm</span>
        <p>Hàng mới nhập</p>
    </div>
    <div class="owl-carousel owl-theme products_carousel">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="grid_item">
                    <span class="ribbon new">Mới</span>
                    <figure>
                        <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.ProductId">
                            <img class="img-fluid lazy" src="~/Content/img/products/@item.ProductImage" alt="@item.ProductName" style="width: 400px; height: 200px">
                            <img class="img-fluid lazy" src="~/Content/img/products/@item.ProductImage" alt="@item.ProductName" style="width: 400px; height: 200px">
                        </a>
                    </figure>
                    <div class="rating">
                        @for (int i = 1; i <= @item.ProductRating; i++)
                        {
                            <i class="icon-star voted"></i>
                        }
                        @for (int i = 5 - @item.ProductRating; i >= 1; i--)
                        {
                            <i class="icon-star"></i>
                        }
                    </div>
                    <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.ProductId">
                        <h3>@item.ProductName</h3>
                    </a>
                    <div class="price_box">
                        <span class="new_price">@item.ProductPrice.ToString("#,###", cul.NumberFormat) Đ</span>
                    </div>
                    <ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-action="AddInFavorite" asp-controller="Cart" asp-route-id="@item.ProductId" data-ajax="true" data-ajax-success="addFavAlert" data-ajax-failure="addCartFailAlert" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào yêu thích"><i class="ti-heart"></i><span>Thêm vào yêu thích</span></a></li>
                            <li><a asp-action="AddInCart" asp-controller="Cart" asp-route-id="@item.ProductId" data-ajax="true" data-ajax-success="addCartAlert" data-ajax-failure="addCartFailAlert" data-ajax-update="#mini-cart" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng"><i class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a></li>

                        }
                        else
                        {
                            <li><a data-ajax="true" data-ajax-success="loginFirstAlert" data-ajax-failure="addCartFailAlert" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào yêu thích"><i class="ti-heart"></i><span>Thêm vào yêu thích</span></a></li>
                            <li><a asp-action="AddInCart" asp-controller="Cart" asp-route-id="@item.ProductId" data-ajax="true" data-ajax-success="addCartAlert" data-ajax-failure="addCartFailAlert" data-ajax-update="#mini-cart" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng"><i class="ti-shopping-cart"></i><span>Thêm vào giỏ hàng</span></a></li>
                        }
                    </ul>
                </div>
                <!-- /grid_item -->
            </div>
        }
    </div>
    <!-- /products_carousel -->
</div>
<!-- /container -->