<div class="toolbox elemento_stick">
    <div class="container">
        <nav class="categories">

            <ul class="clearfix">
                <li>
                    <strong>
                        Sắp xếp theo
                    </strong>
                    <div id="menu">
                        <ul>
                            <li>
                                <a asp-action="SearchByFilter" asp-route-sortOrder="@ViewData["discount"]" value="discount">Khuyến mãi</a>
                            </li>
                            <li>
                                <a asp-action="SearchByFilter" asp-route-sortOrder="@ViewData["date_asce"]" value="date_asce">Mới nhất</a>
                            </li>
                            <li>
                                <a asp-action="SearchByFilter" asp-route-sortOrder="@ViewData["date_desc"]" value="date_desc">Cũ nhất</a>
                            </li>
                            <li>
                                <a asp-action="SearchByFilter" asp-route-sortOrder="@ViewData["price_desc"]" value="price_desc">Giá thấp đến cao</a>
                            </li>
                            <li>
                                <a asp-action="SearchByFilter" asp-route-sortOrder="@ViewData["price_asce"]" value="price_asce">Giá cao đến thấp</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>